/*Form Tips*/
.clearfix:after{
    display: table;
    clear: both;
    content: '';
}
.form-tips {
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    float: right;
    font-size: 14px;
}
.form-tips i {
    color: #0099FF;
}
.popover{
    font-family: inherit;
}
.white-block{
    min-height: 30px;
    margin-bottom: 15px;
    background: #fdfdfd;
    border: 1px solid #d0d3d6;
    -moz-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.05);
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.05);
}
.sub-title{
    font-size: 16px;
    margin: 8px 0px 8px 0px;
    color: #85B1FF;
    font-weight: normal;
}
.subsection-action{
    text-align: right;
}
.subsection-action a{
    font-size: 14px;
}
.sub-title-section{
    margin-bottom: 10px;
    margin-top: 10px;
}
.sub-title-section:after{
    display: table;
    clear: both;
    content: '';
}
.sub-title-section h3{
    display: inline-block;
    font-size: 18px;
    margin: 0px 0px 15px 0px;
}
.sub-title-section small{
    float: right;
    font-size: 16px;
}
.sub-title-section small > span{
    color: #0099FF;
}
.header-bar{
    padding: 10px 15px;
    min-height: 40px;
}
.header-bar.border{
    border-bottom: 1px solid #d0d3d6;
}
.header-bar h3.inline{
    display: inline-block;
}
.header-bar h3{
    font-size: 18px;
    margin: 0px;
}
.header-bar h3 span{
    color: #0099FF;
}
.header-bar h3 span:before{
    content: '(';
    color: #333;
}
.header-bar h3 span:after{
    content: ')';
    color: #333;
}
.header-bar h3.right-align{
    font-size: 18px;
    margin: 0px;  
    float: right;
    display: inline-block; 
}
.header-bar a.header-action{
    float: right;
    margin-left: 10px;
    font-size: 14px;
    padding: 0px 10px;
}
.body-bar{
    padding: 15px;
    position: relative;
}
.body-bar:after{
    display: table;
    clear: both;
    content:'';
}
.pull-top-30{
    margin-top: 30px;
}
.tools{
    float: right;
}
.header-bar .tools a.body-collapse i:before{
    font-family: 'simple-line-icons';
    content: "\e604";
    color: #333;
}
.header-bar .tools a.body-collapsed i:before{
    font-family: 'simple-line-icons';
    content: "\e607";
    color: #333;
}
.header-bar .tools a{
    margin-left: 5px;
}
.header-bar .tools span{
    vertical-align: text-top;
}
.header-bar .tools span.verified i:before{
    font-family: 'simple-line-icons';
    content: "\e080";
    color: #0099FF; 
    font-size: 18px;
}
.header-bar .tools span.unverified i:before{
    font-family: 'simple-line-icons';
    content: "\e082";
    color: #F44336; 
}




.badges-item{
    text-align: center;
    width: 50%;
    float: left;
    box-sizing:border-box;
    padding: 15px 0px;
    border:1px solid #d0d3d6;
    color: #333;
    position: relative;
}
.badges-item span{
    display: block;
}
.badges-item span.badge{
    position: absolute;
    top: 5px;
    right: 5px;
}

.comment-messages{
    margin-bottom: 15px;
    display: block;
    text-align: left;   
}
.comment-messages span{
    float: right;
}
.comment-area
{
    display: block;
    border:1px solid #d0d3d6;
    margin-bottom: 10px;
    background: #fff;
}
.comment-area:after{
    display: table;
    content: '';
    clear: both;
}
.comment-area textarea.form-control
{
    border: none !important;
    resize:none;
}
.comment-area .btn-group
{
    float: right;
    margin: 5px 5px 5px 0px;
}
.notes-container{

}
.notes-block
{
    background: #efefef;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.notes-block .list-checkbox
{
    margin-top: 8px;
    display: inline;
    margin-right: 15px;
}
.notes-block .notes-info
{
    display: inline;
}
.notes-info .notes-img, .notes-info .notes-owner
{
    display: inline;    
}
.notes-info .notes-img img
{
    width: 35px;
}
.notes-info .notes-owner
{
    margin-left: 10px;
}
.notes-info .notes-owner a
{
    display: inline-block;
    font-size: 16px;
}
.note-desc
{
    display: block;
    margin-top: 10px;
}

.config-container{
    position: relative;
}
.btn-config{
    position: absolute;
    right: 5px;
    top: 5px;
}


/*Country Code*/
.phone-control
{
    position: relative;
    display: table;
    border-collapse: separate;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.phone-control.border-left
{
    border-left: 2px solid #428bca !important;
}
.phone-control.focused
{
    border:1px solid #999;
}
.country-control
{
    min-width: 39px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    border-radius: 4px;
    display: table-cell;
}
.country-control button
{
    background: #FFF !important;
    border:none !important;
    height: 32px;
    border-radius: 0px !important;
}
.phone-control .country-control .dropdown-toggle {
    box-shadow: none;
}
.code-control
{
    min-width: 30px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    line-height: 1;
    background: #fff;
    height: 32px;
    border-radius: 0px !important;
    font-size: 14px;
}
.number-control
{
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 32px;
    border-radius: 0px !important;
    padding-left: 5px;
}
.phone-control input.number-control {
    border: none;
}
.phone-control .cntr-img > span {
    margin-right: 5px;
}
.number-control:focus
{
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.country-code-dropdown
{
    margin-top: -1px;
}
.country-code-dropdown ul
{
    margin:0px;
    padding: 0px;
    float:left;
    width: 100%;
}
.country-code-dropdown li
{
    list-style-type: none;
    padding: 10px 0px 10px 0px !important;
}
.country-code-dropdown li a
{
    text-decoration: none;
    padding: 10px  10px !important;
}
.country-code-dropdown li.active
{
    background: #41739C;   
}
.country-code-search
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    z-index: 99;
}
/*Country Code*/

.user-photo{
    flex: auto;
    max-width: 100px;
    text-align: center;
    line-height: 100px;
    border:1px solid #efefef;
    padding: 3px;
}
.user-photo img{
    max-width: 100%;
    max-height: 100%;
}
.user-information{
    flex: auto;
    flex-wrap:nowrap;
    max-width: calc(100% - 100px);
    padding: 10px 15px;
}
.user-information h3,
.user-information p{
    margin: 0px;
}
.user-information h3{
    font-size: 16px;
}
.user-information p{
    font-size: 14px;
}
.user-information p span{
    color: #000;
    font-weight: 500;
}



.menu-bar{
    background: #fff;
    margin-bottom: 15px;
    border: 1px solid #d0d3d6;
}
.menu-bar li.submenu{
    position: relative;
}
.menu-bar li.submenu:hover .dropdown-content{
    display: block;
}
.menu-bar:after{
    display: table;
    content: '';
    clear: both;
}
.menu-bar ul{
    margin: 0px;
    padding: 0px;
}
.menu-bar ul li{
    list-style-type: none;
    display: inline-block;
    float: left;
    height: 42px;
    margin: 0px;
}
.menu-bar ul li a{
    padding: 10px;
    display: inline-block;
    border-right: 1px solid #d0d3d6;
    color: #333;
    min-width: 80px;
    text-align: center;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    float: left;
}
.menu-bar ul li a span{
    color: #000;
    font-family: 'Open Sans';
    color: #0099FF;
    font-size: 13px;
}
.menu-bar ul li a span:before{
    content: '(';
    color: #333;
}
.menu-bar ul li a span:after{
    content: ')';
    color: #333;
}
.menu-bar ul li a:hover{
    background: #f1f1f1;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 42px;
    left: 0px;
    right: auto;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu-bar ul li .dropdown-content a{
    border:none;
    white-space: nowrap;
    display: block;
    width: 100%;
    text-align: left;
}




/*WORK EXPERIENCE*/
.work-entry {
    margin-bottom: 15px;
    padding: 15px 15px 15px 15px;
    position: relative;
    width: 100%;
    background: #fff;
    border:1px solid #ddd;
}
.work-entry span.verified, 
.work-entry span.unverified{
    position: absolute;
    right: 10px;
    top: 10px;
}
.work-entry span.verified i:before{
    content:"\e080";
    color: #0099FF; 
    font-family: 'simple-line-icons';
    font-size: 20px;
}
.work-entry span.unverified i:before{
    content:'\e082';
    color: #F44336; 
    font-family: 'simple-line-icons';
    font-size: 20px;
}
.work-duration {
    font-size: 14px;
    color: #428bca;
    margin: 0px;
}
.duration-total {
    font-size: 14px;
    color: #000;
    margin: 0px;
}
.work-entry h4
{
    margin: 0px 0px 5px 0px;
    border-left:2px solid #428bca;
    padding-left: 10px;
    display: block;
}
.work-entry .workposition
{
    display: block;
    font-size: 14px;
    color: #8877A9;
    margin-top: 10px;
}
/*WORK EXPERIENCE*/


.salse-team{
    padding: 5px;
    color: #999;
}
.salse-team i{
    vertical-align: middle;
    margin: auto 5px;
}
.salse-team span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}
.salse-team img{
    max-width: 100%;
    max-height: 100%;
}
.salse-team img.c-manager{
    border-radius: 0px;
}
.salse-team span.more-item{
    width: 30px;
    height: 30px;
    border:1px solid #ccc;
    border-radius: 50% !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 28px;
}



.leftside-filter{
    border: 1px solid #d0d3d6;
    min-height: 50px;
    margin-bottom: 15px;
    background: #FFF;
}
.filter-section{
    border-bottom: 1px solid #d0d3d6;
}
.filter-section:last-child{
    border-bottom: none;   
}
.filter-head{
    position: relative;
}
.filter-head a{
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    color: #000;
}
.filter-section a.sidebar-collapse:before{
    font-family: 'simple-line-icons';
    content: "\e607";
    position: absolute;
    right: 10px;
    color: #999;
}
.filter-section.collapsed a.sidebar-collapse:before{
    font-family: 'simple-line-icons';
    content: "\e604";
    position: absolute;
    right: 10px;
    color: #999;
}
.filter-section.collapsed .filter-body{
    display: none;
}
.filter-section .filter-body{
    padding: 10px 15px;
}
.filter-body > ul{
    margin: 0px;
    padding: 0px;
}
.filter-body > ul > li {
    list-style-type: none;
}
.filter-body > ul > li a{
    padding: 5px 0px;
    display: block;
}
.icheck-list{
    padding-top: 5px;
    padding-bottom: 5px;
}
.icheck-list.inline > label {
    display: block;
    margin-bottom: 8px;
}
.icheck-list > label {
    margin-right: 8px;
    font-weight: 400;
}
.icheck-list > label > div, label > div{
    margin-right: 8px !important;
}
.result-bar{
    border: 1px solid #d0d3d6;
    min-height: 50px;
    margin-bottom: 15px;
}
.count-bar{
    padding: 15px;
    background: #FFF;
}
.count-bar p{
    color: rgba(0,0,0,0.55);
    margin: 0px;
    display: inline-block;
}
.count-bar p span{
    color: #333;
}
.count-bar .btn-group{
    margin: -5px 0px 0px 0px;
}
.count-bar .btn-group a i{
    color: #888;
    font-size: 16px;
}
.filtered-tag-container{
    background: #FFF;
    padding: 0px 15px 0px 15px;
    margin-bottom: 15px;
}
.filtered-tag-container:after{
    display: table;
    clear: both;
    content: '';
}
.filtered-tags{
    margin: 0px;
    padding: 0px;
}
.filtered-tags li{
    list-style-type: none;
    display: inline;
    float: left;
}
.clear-filter a{
    line-height: 30px;
    font-size: 14px;
    padding: 5px 15px;
    border-left: 1px solid #ddd;
    margin-left: 10px;
}
.filter-attr{
    display: inline-block;
    border:1px solid #85B1FF;
    padding: 3px 10px 3px 10px;
    border-radius: 4px !important;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
}
.filter-attr a{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px 10px;
    font-size: 16px;
    border-left: 1px solid #85B1FF;
    background: #fff;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    display: none;
}
.filter-attr:hover span{
    white-space: nowrap; 
    width: calc(100% - 15px); 
    overflow: hidden;
    text-overflow: ellipsis;
    display:block;
}
.filter-attr:hover a{
    display: block;
}

.thank-message{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.thank-message i{
    font-size: 100px;
    color: #99caff;
}
.thank-message h1{
    font-weight: 300;
    font-size: 24px;
}
.mh-400{
    min-height: 400px;
}


.looking-job{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.looking-job.sm{
    padding: 10px 0px;
    text-align: inherit;
}
.looking-job.sm a{
    padding: 5px;
}
.looking-job a{
    padding: 15px 10px;
    min-width: 100px;
}
.looking-job a.active{
    background: #0099FF;
    color: #FFF;
    border-color: #0099FF;
}
.income-wallet tr th,
.income-wallet tr td{
    text-align: center;
    width: 50%;
}
.income-wallet tr.cost td{
    font-size: 24px;
    color: #0099FF;
}
.connection{
    position: relative;
    min-height: 60px;
}
.connection span,.connectivity-line{
    position: absolute;
}
.connection span.first-person,.connection span.last-person{
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 99;
    border:1px solid #d0d3d6;
    border-radius: 50%;
    overflow: hidden;
}
.connection span.first-person{
    left: 0px;
    top: 10px;
    line-height: 35px;
}
.connection span.last-person{
    right: 0px;
    top: 10px;
    line-height: 35px;
}
.connectivity-line{
    width: 90%;
    border-top:2px solid #d0d3d6;
    left: 5%;
    top: 30px;
}
.connection span img{
    max-width: 100%;
    max-height: 100%;
}
.connection-catg{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 20px;
    text-align: center;
}
.approval-status{
    display: block;
    text-align: center;
    color: #0099FF;
    margin-bottom: 10px;
}
.job-classification:after, .connection-count:after, .emp-job-classification:after{
    display: table;
    content: '';
    clear: both;
}
.connection-count{
    border:1px solid #d0d3d6;
}
.job-classification a, .connection-count a, .emp-job-classification a{
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #333;
    padding: 10px;
    border-bottom: 1px solid #d0d3d6;
}
.connection-count a span, 
.job-classification a span,
.emp-job-classification a span{
    color: #000;
    font-weight: 500;
}
.job-classification a.active, 
.connection-count a.active,
.emp-job-classification a.active{
    color: #0099FF;
}
.job-classification a:last-child, 
.connection-count a:last-child,
.emp-job-classification a:last-child{
    border-bottom: none;
}
.my-conn{
    text-align: center;
    font-size: 16px;
    border:1px solid #d0d3d6;
    border-radius: 4px !important;
    padding: 10px 0px;
}
.my-conn > span{
    display: block;
    font-size: 24px;
    color: #0099FF;
}
.conn-policy{
    padding-left: 15px; 
    padding-right: 15px;
}
.connection-members{
    padding: 15px 0px;
}
.connection-actions:after{
    display: table;
    clear: both;
    content:'';
}
.connection-all{
    border:1px solid #d0d3d6;
    padding: 0px 15px;
}
.connection-actions{
    padding: 10px 0px 10px 0px;
    border-bottom:1px solid #d0d3d6;
    margin-bottom: 10px;
}
.connection-actions select{
    display: inline-block;
    width: 120px;
}
.connection-actions .invitations select{
    width: 140px;
}
.connection-recent, .connection-active{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d0d3d6;
}
.connection-recent span{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50% !important;
    overflow: hidden;
    margin-right: 10px;
    line-height: 50px;
}
.connection-recent img{
    max-width: 100%;
    max-height: 100%;
}

.no-photo.d40{
    width: 40px;
    height: 40px;
    background:#8BB44A;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 40px;
}
.no-photo.d50{
    width: 50px;
    height: 50px;
    background:#8BB44A;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 50px;
}
.no-photo.d100{
    width: 100px;
    height: 100px;
    background:#8BB44A;
    display: inline-block;
    color: #fff;
    font-size: 34px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 100px;
}


.members{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 15px;
}
.members label{
    line-height: 70px;
}
.members > div{
    flex: auto;
    min-width: 70px;
}
.mn-avatar{
    max-width: 70px;
    padding: 10px;
}
.mn-avatar img{
    max-width: 50px;
    max-height: 50px;
}
.card{
    padding-left: 15px;
    max-width: 250px;
    position: relative;
}
.card h3 {
    margin: 0px;
    font-size: 15px;
}
.card p{
    margin-bottom: 0px;
    line-height: 17px;
    font-size: 14px;
}
.members p a{
    margin-right: 10px;
}
.members p span{
    color: #FFF;
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 10px;
}
.members p span.invited{
    background: #0099FF;
}
.members p span.rejected{
    background: #c9302c;
}
.members p span.canceled{
    background: #c9302c;
}
.members p span.connected{
    background: #5cb85c;
}
@media(min-width: 768px){
    .job-classification a, .connection-count a{
        width: 33.333333%;
        float: left;
        box-sizing:border-box;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        color: #333;
        border-right:1px solid #d0d3d6;
        padding: 5px;
        border-bottom: none;
    }
    .job-classification a:last-child, .connection-count a:last-child{
        border-right: none;
    }
    .emp-job-classification a{
        width: 50%;
        float: left;
        box-sizing:border-box;
        text-align: center;
        font-size: 18px;
        line-height: 20px;
        color: #333;
        border-right:1px solid #d0d3d6;
        padding: 5px;
        border-bottom: none;
    }
    .emp-job-classification a:last-child{
        border-right: none;
    }
    .invitations{
        text-align: right;
    }
}
@media(max-width: 768px){

    .invitations{
        padding: 15px;
    }
}
.icon-applied
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/applied.png) no-repeat center center;
    background-size: 28px;
}
.icon-liked
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/like.png) no-repeat center center;
    background-size: 28px;
}
.icon-onlinetest
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/onlinetest.png) no-repeat center center;
    background-size: 28px;
}
.icon-recommend
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/recommend.png) no-repeat center center;
    background-size: 28px;
}
.icon-offers
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/offer.png) no-repeat center center;
    background-size: 28px;
}
.icon-interview
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/interview.png) no-repeat center center;
    background-size: 28px;
}








.data-info h3{
    margin: 0px 0px 10px 0px;
    font-size: 14px;
}
.data-info h3 span{
    color: #0099FF;
}
.data-info.right-val h3 span{
    color: #0099FF;
    float: left;
}
.data-info.right-val h3{
    text-align: right;
    border-bottom: 1px solid #efefef;
    padding-bottom: 7px;
    flex-wrap: nowrap;
}
.data-info.right-val h3 span.verified, 
.data-info.right-val h3 span.unverified{
    float: right;
    margin-left: 5px;
}
.data-info.right-val h3 span.verified i:before {
    content: "\e080";
    color: #0099FF;
    font-family: 'simple-line-icons';
}
.data-info.right-val h3 span.unverified i:before {
    content: "\e082";
    color: #F44336;
    font-family: 'simple-line-icons';
}
.data-info p{
    margin-bottom: 0px;
}


.user-data-info h4{
    margin: 0px 0px 10px 0px;
    font-size: 14px;
}
.user-data-info h4 span{
    color: #999;
}
@media(max-width: 768px){
    .data-info.right-val h3{
        text-align: left;
    }

    .data-info.right-val h3 span{
        display: block;
        float: none;
    }
}


.campaign-contacts {
    padding-top: 15px;
    padding-bottom: 10px;
}
.campaign-contacts span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50% !important;
    overflow: hidden;
    margin-right: 10px;
    line-height: 50px;
}
.campaign-contacts img {
    max-width: 100%;
    max-height: 100%;
}






.camp-duration:after, .date-range:after, .date-label:after{
    display: table;
    content: '';
    clear: both;
}
.camp-duration{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.camp-duration label{
    font-size: 12px;
    float: left;
    width: 50%;
    color: #000;
}
.camp-duration span{
    float: left;
    width: 50%;
    vertical-align: text-top;
    box-sizing:border-box;
}
.camp-duration span i{
    font-size: 20px;
}


.progress-info{
    text-align: center;
}
.progress-info .progress {
    margin: 0;
    height: 4px;
    clear: both;
    display: block;
}
.progress-info h3, .purple-soft h3{
    margin: 0px 0px 15px 0px;
    color: #0099FF;
    font-size: 34px;
}
.purple-soft h3{
    color: #8877a9;
}
.progress-info h3 span{
    font-size: 16px;
    color: #333;
}
.progress {
    border: 0;
    background-image: none;
    filter: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #ddd;
}
.progress-bar.blue-sharp {
    background: #0099FF !important;
    color: #FFFFFF !important;
}
.progress-bar.purple-soft {
    background: #8877a9 !important;
    color: #FFFFFF !important;
}
.progress-bar.green-sharp {
    background: #4DB3A2 !important;
    color: #FFFFFF !important;
}
.progress-info .status {
    margin-top: 5px;
    font-size: 11px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}
.progress-info .status .status-title {
    float: left;
    display: inline-block;
    font-size: 14px;
}
.progress-info .status .status-number {
    float: right;
    display: inline-block;
    font-size: 14px;
}


.campaign-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 15px;
    border:1px solid #d0d3d6;
    padding: 5px;
}
.campaign-contact label{
    line-height: 60px;
}
.campaign-contact > div{
    flex: auto;
    min-width: 60px;
}
.cc-avatar{
    max-width: 60px;
    padding: 10px;
}
.cc-avatar img{
    max-width: 40px;
    max-height: 40px;
}
.card{
    padding-left: 10px;
    max-width: 250px;
    position: relative;
}
.card h3 {
    margin: 0px;
    font-size: 15px;
}
.card p{
    margin-bottom: 0px;
    line-height: 17px;
    font-size: 14px;
}
.campaign-contact p a{
    margin-right: 10px;
}
.campaign-contact p span{
    background: #0099FF;
    color: #FFF;
    font-size: 11px;
    padding: 2px 5px;
    margin-right: 10px;
}


.campaign-contact ul, 
.inline-menu ul{
    margin: 0px;
    padding: 0px;
}
.campaign-contact ul li,
.inline-menu ul li{
    list-style-type: none;
    display: inline;
}
.campaign-contact ul li a{
    margin: 5px 5px 0px 0px;
    display: inline-block;
}

.inline-menu{
    margin-bottom: 15px;
}
.inline-menu ul li a{
    color: #333;
    display: inline-block;
    margin-right: 10px;
    font-weight: 500;
    border-right:1px solid #d0d3d6;
    padding-right: 10px;
}
.inline-menu ul li:last-child a{
    border:none;
}
.inline-menu ul li a span{
    color: #0099FF;
}


.cc-info{
    display: inline-block;
}
.cc-info img{
    float: left;
    max-height: 30px;
    max-width: 30px;
}
.cc-info h3{
    margin: 7px 0px 0px 10px;
    font-size: 16px;
    display: inline-block;
}
.header-count{
    display: inline-block;
    float: right;
}
.header-count span{
    margin: 5px 0px 0px 10px;
    display: inline-block;
}
.header-count span b{
    color: #0099FF;
}
.cc-managers{
    margin-bottom: 15px;
}
.cc-managers span{
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border-radius: 50%;
}
.cc-managers span:first-child{
    width: inherit;
    line-height: 40px;
}
.cc-managers span img{
    max-width: 40px;
    max-width: 40px;
}






.icon-contacts
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/contacts.png) no-repeat center center;
    background-size: 28px;
}
.icon-companies
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/company.png) no-repeat center center;
    background-size: 28px;
}
.icon-documents
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/documents.png) no-repeat center center;
    background-size: 28px;
}
.icon-leads
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/lead.png) no-repeat center center;
    background-size: 28px;
}
.icon-tasks
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/task.png) no-repeat center center;
    background-size: 28px;
}
.icon-invoice
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/icons/invoice.png) no-repeat center center;
    background-size: 28px;
}







.company-list{
    border:1px solid #d0d3d6;
    background: #FFF;
    margin-bottom: 15px;
    min-height: 200px;
    position: relative;
}
.company-list span.c-badge{
    position: absolute;
    right: -6px;
    top: 5px;
    color: #fff;
    padding: 2px 5px;
    font-size: 11px;
    text-transform: uppercase;
    min-width: 80px;
}
span.prospective{
    background: #FFB606;
}
span.pipeline{
    background: #2E97C4;
}
span.signed{
    background: #62CB31;
}
span.paid{
    background: #E66D2B;
}
span.highlypaid{
    background: #C0392B;
}
span.declined{
    background: #34495E;
}
.company-list span.c-badge:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -6px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #333;
    border-style: solid;
    border-width: 0 0px 6px 6px;
    height: 0;
    width: 0;
}
.company-logo{
    text-align: center;
    padding: 10px 15px 0px 15px;
}
.company-logo span{
    line-height: 70px;
}
.company-logo img{
    max-width: 65px;
    max-height: 65px;
}
.company-list:after{
    clear: both;
    display: table;
    content: '';
}
.company-list span.c-name{
    display: block;
    padding: 10px;
    text-align: center;
}
.c-list-action{
    display: flex;
}
.c-list-action a{
    width: 50%;
    padding: 10px;
    background: #F9F9F9;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #999;
}
.c-list-action a i{
    color: #999;
    margin-right: 7px;
}
.c-list-action a span{
    color: #568ECA;
}
.c-list-action a img{
    max-width: 35px;
    max-height: 35px;
}
.company-users:after{
    display: table;
    clear: both;
    content: '';
}
.company-manager{
    width: 50%;
    float: left;
    background: #F9F9F9;
    border-right: 1px solid #eee;
    padding: 5px;
    color: #999;
}
.company-manager:last-child{
    border-left: transparent;
    border-right: transparent;
}
.company-manager i{
    vertical-align: middle;
    margin: auto 5px;
}
.company-manager img{
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}
.company-manager img.c-manager,
.company-manager img.a-manager{
    border-radius: 0px;
}
.company-manager span.more-item{
    width: 30px;
    height: 30px;
    border:1px solid #ccc;
    border-radius: 50% !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 28px;
}
.company-list.list{
    min-height: 125px;
}
.company-list.list .company-info, .company-list.list .company-bottom-info{
    width: 50%;
    float: left;
}
.company-list.list .company-bottom-info{
    margin-top: 30px;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    margin-bottom: 15px;
}
.company-list.thumb{
    min-height: 120px;
}
.company-list.thumb .company-bottom-info{
    display: none;
}
.company-list.thumb .company-logo{
    padding-top: 30px;
}




.compare-wizard{
    padding: 15px;
}
.compare-wizard h3{
    margin: 0px 0px 15px 0px;
}
.compare-table th img{
    max-height: 30px;
    margin-right: 5px;
}
.comparison-type, .compare-applicant
{
    padding: 15px 0px;
}
.compare-table tr td{
    max-width: 150px;
}
.compare-table tr td:first-child{
    max-width: 150px;
}
.compare-table tr td:first-child h4{
    margin: 0px;
    font-weight: normal;
}
.compare-table tr td:first-child p{
    margin: 0px;
    font-size: 14px;
}
.compare-table tr td:first-child p span{
    font-weight: bold;
}

.location-info .distance{
    text-align: center;
}
.location-info .distance
{
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 5px 0px;
}
.location-info .distance:before{
    width: 10px;
    height: 10px;
    border:1px solid #999;
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    background: #fff;
    border-radius: 50% !important;
}
.location-info .distance:after{
    width: 10px;
    height: 10px;
    border:1px solid #999;
    content: '';
    position: absolute;
    right: 0px;
    bottom: -5px;
    background: #fff;
    border-radius: 50% !important;
}

.job-title-info h4{
    margin: 0px;
    font-size: 16px;
}
.education-info{
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.education-info h4{
    margin: 0px;
}
.education-info h4 span{
    font-size: 16px;
}
.education-info small{
    color: #777;
}
.education-info small.block{
    display: block;
    color: #777;
}

.experience-info, .expertise-info{
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.experience-info > h4, h5 , .expertise-info > h4, h5{
    margin: 0px 0px 4px 0px;
}
.experience-info > h4, .expertise-info > h4{
    font-size: 16px;
}
.experience-info > h5, .expertise-info > h5{
    font-size: 14px;
    color: #777;
}
.rskill{
    display: inline-block;
    border:1px solid #ddd;
    font-size: 12px;
    padding: 1px 5px;
    margin-bottom: 3px;
}
.salary-info{
    margin-bottom: 10px;
    border-bottom: 1px solid #f1f1f1;
}
.salary-info > h4, h5 {
    margin: 0px 0px 4px 0px;
}
.salary-info > h4{
    font-size: 16px;
}
.salary-info > h5{
    font-size: 14px;
    color: #777;
}




.sidebar-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(67, 87, 121, 0.6);
    z-index: 99;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}
.fixed-sidebar-applicant {
    position: fixed;
    top: 80px;
    right: 0px;
    width: 480px;
    z-index: 999;
    height: 100%;
    background: #FFF;
    -webkit-transform: translateX(500px);
    -moz-transform: translateX(500px);
    -ms-transform: translateX(500px);
    -o-transform: translateX(500px);
    transform: translateX(500px);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    padding: 20px 5px 0px 15px;
    -moz-box-shadow:    -3px 0 5px 0 #ccc;
    -webkit-box-shadow: -3px 0 5px 0 #ccc;
    box-shadow:         -3px 0 5px 0 #ccc;
    padding-bottom: 60px;
}
.fixed-sidebar-applicant.active {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}
.fixed-sidebar-applicant h4
{
    font-size: 18px;
    color: #31353d;
    font-weight: bold;
    margin: 20px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    font-weight: normal;
}
.choose-applicant{
    display: flex;
    flex-direction:wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
}
.applicant-item{
    flex: auto;
    max-width:50%;
    background: #f1f1f1;
    margin: 2px 2px 10px 2px;
}
.h-container{
    height: 100%;
    overflow-y: auto;
}
.applicant-item img{
    display: inline-block;
    margin-right: 10px;
    max-width: 40px;
    max-height: 40px;
}
.add-rule span{
    color:#c9302c;
}
.applicant-item h3{
    margin: 0px;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
    color: #333;
}






.hero-image {
    height: 417px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.hero-image .gradient {
    background-image: -webkit-linear-gradient(to right, #54bf92,#3293D3);
    background-image: -moz-linear-gradient(to right, #54bf92,#3293D3);
    background-image: -o-linear-gradient(to right, #54bf92,#3293D3);
    background-image: linear-gradient(to right, #54bf92,#3293D3);
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}


.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.job-basic-info-block{
    border-bottom: 1px solid #d0d3d6;
}
.amount-cont{
    flex: auto;
    width: 130px;
    text-align: center;
    padding: 15px;
}
.referral-amount{
    width: 100px;
    height: 100px;
    position: relative;
    line-height: 100px;
    font-size: 34px;
    border:1px solid #d0d3d6;
    color: #d65656;
}
.job-basic-content{
    flex: auto;
    min-width: calc(100% - 130px);
    padding: 15px;
}
.details-job-info{
    display: inline-block;
}
.job-basic-content .block-actions{
    float: right;
}
.job-basic-content .block-actions .job-shortlist{
    font-size: 20px;
    padding-right: 10px;
    border-right:1px solid #ddd;
    margin-right: 10px;
    color: #999;
}
.job-share{
    font-size: 20px;
    color: #999;
}
.details-job-info h3{
    margin: 0px 0px 10px 0px;
    font-size: 22px;
}
.details-job-info p.job-location{
    color: rgba(0,0,0,0.85);
    font-size: 16px;
}
.details-job-info p{
    margin-bottom: 5px;
    color: #777;
    font-weight: 400;
}
.details-job-info .salary-range{
    font-size: 16px;
}
.count-items span, .salary-range span{
    color: #000;
}
.count-items p{
    display: inline-block;
    margin-right: 15px;
}
.job-basic-content a.btn{
    border-radius: 2px !important;
    padding: 5px 15px;
    margin-right: 10px;
}
.job-basic-content a.btn-default{
    color: #568ECA;
    font-weight: bold;
}

.job-block-sidebar{
    margin: 0px;
    padding: 0px;
}
.job-block-sidebar li{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    width: 100%;
    background: #fff;
    overflow: hidden;
    opacity: 1;
    border-top: 1px solid #d0d3d6;
}
.job-block-sidebar li > div{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    text-decoration: none;
    padding: 15px 15px 0 15px;
}

.job-data-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: hidden;
}
.job-fee{
    padding: 1px;
    width: 50px;
    height: 50px;
    margin-right: 8px;
    margin-bottom: 8px;
    position: relative;
    -webkit-box-flex: none;
    -webkit-flex: none;
    -moz-box-flex: none;
    -moz-flex: none;
    -ms-flex: none;
    flex: none;
    overflow: hidden;
    text-align: center;
    border:1px solid #d0d3d6;
}
.job-fee span{
    font-size: 14px;
    line-height: 45px;
    color: #d65656;
}
.job-right{
    overflow: hidden;
    padding-left: 8px;
    padding-bottom: 16px;
}
.job-right a.right-title{
    margin: 0px;
    font-size: 15px;
    color: #337ab7;
}
.job-right p{
    color: rgba(0,0,0,0.75);
    font-size: 14px;
    margin-bottom: 4px;
}
.job-brief{
    padding: 15px 0px;
    position: relative;
}
.job-brief:after{
    display: table;
    content: '';
    clear: both;
}
.job-brief-text
{
    text-align: justify;
}
.job-brief.shorted-info h3{
    font-size: 22px;
    margin: 0px 0px 10px 0px;
}
.skills{
    display: inline-block;
    border:1px solid #85B1FF;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 13px;
    margin: 0px 6px 6px 0px;
    color: #000;
}
.shorted-info{
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 400px;
    padding-bottom: 0px !important;
}
.shorted-info.full{
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.shorted-info .gradient{
    position: absolute;
    left: 0;
    bottom: 32px;
    width: 100%;
    height: 50px;
    background-image: -webkit-linear-gradient(rgba(255,255,255,0), #ffffff);
    background-image: -moz-linear-gradient(rgba(255,255,255,0), #ffffff);
    background-image: -o-linear-gradient(rgba(255,255,255,0), #ffffff);
    background-image: linear-gradient(rgba(255,255,255,0), #ffffff);
}
.shorted-info.full .gradient{
    background: transparent;
}
.shorted-info.full{
    height: auto;
    padding-bottom: 40px !important;
}
.viewmore{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    background: #FFF;
    padding: 5px;
    border-top:1px solid #d0d3d6;
}




.wallet-stats{
    padding: 0px;
    margin: 0px;
    border:1px solid #d0d3d6;
    margin-bottom: 15px;
    border-radius: 6px;
}
.wallet-stats:after{
    display: table;
    clear: both;
    content: '';
}
.wallet-stats li{
    float: left;
    list-style-type: none;
    width: 25%;
    text-align: center;
    border-right: 1px solid #ddd;
    box-sizing:border-box;
    font-size: 30px;
}
.wallet-stats li a{
    color: #0099FF;
    display: block;
    padding: 20px 0px;
}
.wallet-stats li:last-child{
    border:none;
}
.wallet-stats li small{
    font-size: 16px;
    display: block;
    color: #999;
}
.inline-title{
    line-height: 40px;
}





.chat-contacts ul{
    margin: 0px;
    padding: 5px 0px 0px 0px;
    overflow: hidden;
    overflow-y:auto; 
    width: auto; 
    height: 605px;
}
.chat-contacts ul li{
    list-style-type: none;
    padding-right: 5px;
}
.chat-contacts ul li{
    float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F1F1F1;
    position: relative;
}
.c-tracker .online, .c-tracker .offline {
    left: 40px;
    top: 35px;
    width: 15px;
    height: 15px;
}
.offline {
    width: 18px;
    height: 18px;
    background: #999;
    border: 2px solid #fff;
    position: absolute;
    right: 0px;
    bottom: 10px;
    z-index: 999;
    display: inline-block;
    border-radius: 50% !important;
}
.online {
    width: 18px;
    height: 18px;
    background: #11D200;
    border: 2px solid #fff;
    position: absolute;
    right: 0px;
    bottom: 10px;
    z-index: 999;
    display: inline-block;
    border-radius: 50% !important;
}
.chat-contacts ul li span.c-avatar{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}
.chat-contacts ul li span.c-avatar img{
    max-width: 40px;
    max-height: 40px;
}
.c-tracker .online, .c-tracker .offline{
    left: 40px;
    top: 35px;
    width: 15px;
    height: 15px;
}
.c-tracker .c-name{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}
.chat-contacts ul li.c-tracker small{
    color: #999;
}
.chat-contacts ul li.c-tracker.active{
    background: #349BFF;
    color: #FFF;
}
.chat-contacts ul li.c-tracker.active .c-name, .chat-contacts ul li.c-tracker.active small{
    color: #FFF;
}
.chat-contacts ul li:hover{
    cursor: pointer;
    background: #efefef;
}
.conversation-list {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    overflow-y:auto; 
    width: auto; 
    height: 560px;
    padding-right: 10px;
}
.conversation-list li {
    margin-bottom:24px;
}
.conversation-list .chat-avatar {
    width:40px;
    display:inline-block;
    text-align:center;
    float:left;
    position: relative;
}
.chat-avatar .online, .chat-avatar .offline{
    left: 35px;
    top: 30px;
    width: 15px;
    height: 15px;
} 
.chat-avatar img{
    max-width: 40px;
    max-height: 40px;
}
.conversation-list .chat-avatar i {
    font-size:12px;
    font-style:normal;
}
.conversation-list .ctext-wrap i {
    display:block;
    font-style:normal;
    font-weight:bold;
    position:relative;
    font-size:13px;
    color:#3A7EE3;
}
.conversation-list .ctext-wrap p{
    font-size: 13px;
}
.conversation-list .ctext-wrap p.c-time{
    font-size: 10px;
}
.conversation-list .conversation-text {
    display:inline-block;
    font-size:12px;
    float:left;
    margin-left:12px;
    width:80%;
}
.conversation-list .ctext-wrap {
    padding:10px;
    background:#eeeef2;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    position:relative;
    display:inline-block;
}
.conversation-list .ctext-wrap p {
    margin:0px;
    padding-top:3px;
}
.conversation-list .ctext-wrap:after {
    right:100%;
    top:20%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(213,242,239,0);
    border-right-color:#eeeef2;
    border-width:5px;
    margin-top:-5px;
}
.conversation-list .odd .chat-avatar {
    float:right !important;
}
.chat-avatar{
    width: 40px;
    height: 40px;
    position: relative;
}
.conversation-list .odd .conversation-text {
    width:70% !important;
    margin-right:12px;
    text-align: right;
    float:right !important;
}
.conversation-list .odd .ctext-wrap {
    background:#d5f2ef !important;
}
.conversation-list .odd .ctext-wrap i {
    color:#444;
}
.conversation-list .odd .ctext-wrap:after {
    left:100% !important;
    top:20% !important;
    border-color:rgba(238,238,242,0)!important;
    border-left-color:#d5f2ef !important;
}
.chat-send {
    padding-left:0px;
}
.chat-send button {
    width: 100%;
}





.custom-stat {
    display: block;
    clear: both;
    background: #FFF;
    overflow: hidden;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.15);
}
.custom-stat p{
    text-align: right;
    padding: 5px 10px;
    margin-bottom: 0px;
    color: #999;
    background: #efefef;
}
.stat-data {
    text-align: right;
    padding-right: 10px;
    margin-bottom: 10px;
}
.straight-light .stat-data .stat-num {
    font-size: 24px;
    color: #0090D9;
    display: block;
    margin-top: 10px;
    text-align: right;
    font-family: Helvetica, 'Sans Serif';
}
.custom-stat .stat-data .stat-title {
    display: block;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    text-align: right;
}
.straight-light, .reverse-light {
    border-left: 2px solid #0090D9;
}

.employer-jobs{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    border-bottom: 1px solid #d0d3d6;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.employer-jobs .emp-job-info{
    flex: auto;
    padding-left: 5px;
}
.emp-job-info a{
    font-size: 16px;
    display: inline-block;
    margin: 0px 0px 5px 0px
}
.job-data-info h4{
    margin: 0px 0px 10px 0px;
    font-size: 14px;
}
.job-data-info h4 span{
    color: #999;
}
.job-steps{
    padding: 0px;
    margin: 0px;
}
.job-steps li{
    display: inline;
}
.job-steps li a{
    display: inline-block;
    padding-right: 15px;
    margin:0px;
    position: relative;
    color: #000;
}
.job-steps li a:after{
    content: "\e606";
    font-family: 'simple-line-icons';
    color: #0099FF;
    position: absolute;
    right: 0px;
    top: 0px;
}
.job-steps li:last-child a:after{
    content: '';
}
.job-steps li a span{
    color: #999;
}




.timeslot
{
    float: left;
    width: 100%;    
    border:1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
.timeslot a
{
    margin: 0px 0px 5px 0px;
    font-size: 16px;
}
.timeslot-data span
{
    display: block;
    color: #999;
}
.timeslot-data span small{
    color: #000;
}
.timeslot span b
{
    color: #000;
}
.timeslot p
{
    margin: 5px 0px 0px 0px;
    border-top: 1px solid #ddd;
    padding: 10px 0px 10px 0px;
}
.interviewers-list
{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border:1px solid #ddd;
    padding: 5px;
    position: relative;
    margin-top: 5px;
}
.interviewers-list strong
{
    font-size: 16px;
    display: block;
    font-weight: normal;
}
.interviewers-list span{
    font-size: 14px;
}
.interviewers-list .interview-thumb
{
    float: left;
    width: 40px;
    text-align: center;
}
.interviewers-list .interview-thumb span
{
    display: inline-block;
    line-height: 36px;
    vertical-align: middle;
    border:1px solid #ddd;
    margin-right: 15px;
}
.interviewers-list .interview-thumb img
{
    max-height: 40px;
    max-width: 40px;
}
.interviewers-list span.tag
{
    padding: 0px 3px;
    display: inline-block;
    background: #fff;
    color: #000;    
    border:1px solid #999;
    font-size: 13px;
}
.interviewers-list span.tag.danger
{
    padding: 0px 3px;
    display: inline-block;
    background: #E48784;
    color: #fff;
}
.interviewers-list span.tag.success
{
    padding: 0px 3px;
    display: inline-block;
    background: #A5C44E;
    color: #fff;
}
.interviewers-info{
    padding-left: 50px;
}
.interviewers-info span.position{
    display: block;
}
.abs-top-right {
    position: absolute;
    top: 5px;
    right: 5px;
}